.button-homepage{
    margin-top:50px;
    margin-bottom: 80px;
}

p {
  text-align: center;
}

g{
  text-align: center;
}


.option-input{
  text-align: center;
}

.btn{
  margin: 15px;
}
.btnGang{
  text-align: center;
  margin-bottom: 50px;
}
/* .questions{
  text-align:center;
} */
