
.button-homepage{
    margin-top:100px;
    margin-bottom: 100px;
    text-align: left;
}

.btn{
  margin: 15px;
}

.btnGang{
  text-align:left;
  width: 100%;
}

.questions{


}


.question_2 {
  text-align: left;
}

.questions_noSubmit{
  padding: 200px;
}
